#overlayBG {
	position:fixed;
	top:275px;
	left:0px;
    width:100%;
    height:100%;	
    background-color: #000;
	/*border-style : hidden;*/
	/*border-width:0px;*/
	z-index:99999998;
    opacity: 0.3;
    /*filter: 'alpha(opacity=30)';*/
    /**filter: alpha(opacity=30);*/
    display: none;
}

#overlay {
	position:fixed;
	top:275px;
	left:0px;
	/*width:70%;*/
	/*height:30%;*/
	background-color:#000;
	/*border-style : hidden;*/
	/*border-width:0px;*/
    z-index: 99999997;
    opacity: 0.3;
	/*filter: 'alpha(opacity=30)';*/
	/**filter: alpha(opacity=30);*/
    display: none;
}


#product-info {
    width: 100%;
    height: 300px;
    /*height: 0px;*/
    background-color: #f8f8f8;
    /*border-style: solid;*/
    /*border-width: 1px;*/
    position: fixed;
    /*float: left;*/
    top: 75px;
    /*display: block;*/
    z-index: 99999999;
    display: none;
    /*text-align: center;*/
    box-shadow:inset 0 2px 10px -3px #aaa, inset 0 -2px 10px -3px #aaa;
}
.product-preview {
    margin: 0 auto;
    width: 900px;
    height: 320px;
}
#product-info h2 {
    font-family: BaskervilleURW-RegIta;
    /*font-style: italic;*/
    font-weight: lighter;
    /*font-size: 100px;*/
    margin: 20px 0 20px 20px;
    color: #828282;
}
#product-info ul {
    list-style: none;
    width: 100%;
}
#product-info li {
    float: left;
}
.product-preview a {
    width: 161px;
    height: 140px;
    margin: 20px 60px 20px 0;
    text-align: center;
    display: block;
    color: black;
    font-weight: bold;
    font-size: 9px;
}
.product-preview img {
    margin: 0 0 10px 0;
}
.preview-line-left {
    background: url(../img/shortLines.png) 0 0 no-repeat;
    position: relative;
    width: 8px;
    height: 33px;
    top: -290px;
    clear: both;
    margin: 0 0 0 10px;
    /*left: 10px;*/
}
.preview-line-right {
    background: url(../img/shortLines.png) 0 0 no-repeat;
    position: relative;
    width: 8px;
    height: 33px;
    top: -320px;
    float: right;
    margin: 0 10px 0 0;
    /*left: 10px;*/
    /*border-style: dotted;*/
    /*border-width: 1px;*/

}
