/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face{
    font-family: BaskervilleURW-RegIta;
    src: url('../font/baskervilleurw-regita-webfont.ttf'), 
         url('../font/baskervilleurw-regita-webfont.eot'), 
         url('../font/baskervilleurw-regita-webfont.woff');
}
@font-face{
    font-family: Univers-CondensedLight;
    src: url('../font/univers-condensedlight-webfont.ttf'),
         url('../font/univers-condensedlight-webfont.eot'),
         url('../font/univers-condensedlight-webfont.woff');
}

html, body { 
	height: 100%;
}
#wrap{
    min-height: 100%;
}
#main{
    padding-bottom: 385px;
}
body{
    font-family:"Arial";
}
body a{
    text-decoration: none;
}
.innerWrap{
    width:980px;
    margin:0 auto;
}
nav{
    /*background: #000;*/
    height: 75px;
    width: 100%;
    position: fixed;
    background-image:url(../img/navLine.png);
    background-repeat: repeat-x;
}
nav ul{
    height: 69px;
    margin:0;
    background-color: #fff;
    padding-left: 85px;
    background-image:url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: 0 center;
    margin-top: 6px;
    float: left;
}
nav ul li{
    float: left;
    list-style: none;
    /*padding:30px 35px 0 0;*/
}
nav ul li a{
    display: block;
    padding: 20px 35px 0 0;
    width: 88px;
    height: 31px;
    font-size: 14px;
    color: #828282;
    font-family: "Univers-CondensedLight"
}
nav h1{
    display: inline;
    position:absolute;
    line-height: 0;
    font-size:0;
}
#subscribe{
    float: right;
    margin-top: 35px;
}
#slider-wrapper{
    position: relative;
    height: 459px;
    padding-top: 75px;
}
#slider-wrapper>div{
    background: #000;
}
#sevicesIntro{
    height:249px;
    background-color: #e4e4e4;
    border-bottom:solid 1px #c1c1c1;
}
#sevicesIntro ul li{
    list-style: none;
    float: left;
    width: 312px;
    margin-right: 19px;
    background-repeat: no-repeat;
    background-position: center 37px;
    padding-top:100px;
    text-align: center;
}
#sevicesIntro ul li a{
    color: #000;
}
#sevicesIntro ul li:last-child{
    margin:0;
}
#sevicesIntro ul li#technical{
    background-image:url(../img/service1.png);
}
#sevicesIntro ul li#technical:hover{
    background-image:url(../img/service1hover.png);
}
#sevicesIntro ul li#demo{
    background-image:url(../img/service2.png);
}
#sevicesIntro ul li#demo:hover{
    background-image:url(../img/service2hover.png);
}
#sevicesIntro ul li#sample{
    background-image:url(../img/service3.png);
}
#sevicesIntro ul li#sample:hover{
    background-image:url(../img/service3hover.png);
}
#sevicesIntro ul li h2{
    font-size:18px;
    font-family: "BaskervilleURW-RegIta",serif;
    text-shadow: #fff 0 1px 0;
}
#sevicesIntro ul li p{
    font-size: 14px;
    font-family: "Univers-CondensedLight";
    text-shadow: #fff 0 1px 0;
    color: #333;
}
#mainContent{
    margin-bottom:30px;
}
#mainContent #mainLeft{
    width: 626px;
    padding-right: 20px;
    margin-right: 39px;
    float: left;
}
#mainContent #mainRight{
    width: 294px;
    float: right;
}
#mainContent h4{
    font-weight: bold;
    font-size: 14px;
    border-bottom: solid 1px #ccc; 
    padding-bottom:5px;
}
.newsList li{
    list-style: none;
    border-bottom: solid 1px #ccc;
    margin-bottom:10px;
    position: relative;
}
.newsList li .date{
    font-size:12px;
    color: #797979;
    margin:0 0 8px 0;
}
.newsList .newsSwitch{
    position: absolute;
    width: 10px;
    height: 10px;
    background:url(../img/homeNewsOpen.png) no-repeat center;
    right: 0;
    top:0;
    cursor: pointer;
}
.newsList .newsSwitch.open{
    background:url(../img/homeNewsClose.png) no-repeat center;
}
.newsList li h5{
   font-size: 14px;
   margin:0 0 15px 0; 
}
.newsList li .newsContent{
    position: relative;   
    display: none;
}
.newsList li .newsContent img{
    float:left;
    margin:0 15px 15px 0;
}
.newsList li .newsContent .fb, .newsList li .newsContent .readMore{
    position: absolute;
    bottom:0;
}
.newsList li .newsContent p{
    font-size: 12px;
    line-height: 20px;
    padding-bottom:30px;
}
.newsList li .newsContent .fb{
    width:97px;
    height: 20px;
    background:#ccc;
    left:0;
}
.newsList li .newsContent .readMore{
    right:0;
    font-size: 12px;
    color: #8b8b8b;
}
.newsList li .eventDate{
    font-size: 12px;
    color: #333;
    font-family: 'BaskervilleURW-RegIta',serif;
    margin-bottom:15px;
    text-align:center;
    background:#f2f2f2;
    padding:5px 0;
}
footer{
    background-color: #000;
    color: #fff;
    position: relative;
    clear: both;
    height: 385px;
    margin-top:-385px;
}
#footerContent{
    padding:30px 0;
}
#sitemap{
    width:657px;
    float: left;

}
#sitemap div{
    width: 109px;
    float: left;
}
#sitemap h3, #links h3{
    font-size:18px;
    font-style: italic;
    margin:0;
    font-family:"BaskervilleURW-RegIta",serif;
}
#sitemap div h4{
    font-size:13px;
}
#sitemap .subNav, #links ul{
    padding-left: 0;
}
#sitemap .subNav li{
    list-style: none;  
}
#sitemap .subNav li a{
    font-size: 11px;
    color: #676767;
}
#links{
    float: right;
    width:293px;
    border-left: solid 1px #3e3e3e;
    padding-left:29px;
}
#links ul li{
    list-style: none;
    margin-bottom:20px;
}
#links ul li p{
    font-size: 13px;
    color: #b9b9b9;
    margin:0;
}
#links ul li a{
    font-size: 12px;
    color: #676767;
    text-decoration: underline;
}
#footerBot{
    width: 100%;
    background-color: #161616;
    color: #595959;
    font-size: 11px;
    height: 60px;
    position: absolute;
    bottom:0; 
}
#footerBot .innerWrap{
    background-image:url(../img/footLogo.png);
    background-repeat: no-repeat;
    background-position: 0 center;
}
#footerBot p{
    margin-left: 110px;
    padding:11px 0 5px 0;
}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
