/* 若不可以取消 main.css 中的 #warp, #main 是可以複寫在這 */
body.product #wrap { }

.product-wrap { }

body.product {
    width: 100%;
    height: 100%;
    background: url(../img/products/pattern.png) repeat fixed;
    /*overflow: hidden;*/
}

/* Defined Section */
.overview {
    width:  1600px;
    height: 1400px;
    background: url(../img/products/m150/overview/m150_overview_1.jpg) no-repeat center center;
}
.features {
    width:  1600px;
    height: 1400px;
    background: url(../img/products/m150/features/m150_features_laser.jpg) repeat 0 0;
}

.features h2 {
    color: white;
    margin: 0 auto;
    width:500px;
    font-family:'BaskervilleURW-RegIta';
    font-weight: normal;
    font-size: 25px;
}

.xyz {
    width:  1600px;
    height: 1400px;
    min-height: 1400px;
    /*background: url(../img/products/m150/features/xyz/xyz_bg.jpg) center center;*/
}

.m150-xyz {
    width:  640px;
    height: 660px;
    background: url(../img/products/m150/features/xyz/xyzM150.png) center center;
    position: absolute;
    top: -100px;
    left: 180px;
}

.xyz-content {
    color: white;
    position: absolute;
    top: 440px;
    left: 0px;
    width: 100%;
    height: 100px;
    /*border: dotted 1px red;*/
    text-align: center;
    opacity: 0;
}

.xyz-content p {
    color: white;
    font-size: 26px;
    margin: 0 0;
    padding: 0 0;
    font-family: 'BaskervilleURW-RegIta';
}

.xzy-arraw {
    width:  894px;
    height: 299px;
    background: url(../img/products/m150/features/xyz/arrows.png) center center;
    position: absolute;
    top: 140px;
    left: 54px;   
}

.camera {
    width: 732px;
    height: 731px;
    background: url(../img/products/m150/features/xyz/camera.png) center center;    
    position: absolute;
    top: -200px;
    left: -780px;
    opacity: 0;
    z-index: -1000;
}

.applications {
    width:  1600px;
    height: 1400px;
    background: url(../img/products/m150/section/m150_overview_1.jpg) repeat 0 0;
}

.media {
    width:  1600px;
    height: 1400px;
    background: url(../img/products/m150/section/m150_overview_1.jpg) repeat 0 0;
}

.application_papers {
    width:  1600px;
    height: 1400px;
    background: url(../img/products/m150/section/m150_overview_1.jpg) repeat 0 0;
}

.technical_specifications {
    width:  1600px;
    height: 1400px;
    background: url(../img/products/m150/section/m150_overview_1.jpg) repeat 0 0;
}

/* Wrap 的 top 透過 jQuery 去動態設定了 */
.content-wrap {
    margin: 0 auto;
    position: relative;
    width: 1000px;
    height: 520px;
}
.content-wrap-580 {
    margin: 0 auto;
    position: relative;
    width: 1000px;
    height: 580px;  
}

.m150 {
    width: 485px;
    height: 484px;
    background: url(../img/products/m150.png) 0 0;
    position: absolute;
    top: 10px;
    left: 20px;    
    text-indent: -9999px;
}
.m150-title {
    top: 80px;
    left: 600px;
    position: absolute;
}
.m150-title h1 {
    font-size: 80px;
    margin: 0 0;
    padding: 0 0;
}
.m150-title p {
    margin: 0 0;
    padding: 0 0;
    text-align: center;
    font-size: 20px;
    font-style: italic;
}
.scrolldown {
    width: 83px;
    height: 83px;
    background: url(../img/products/scrollDown_bg.png) center center no-repeat;
    position: absolute;
    top: 180px;
    left: 60px;
}
.scrolldown_arrow {
    text-indent: -9999px;
    width: 83px;
    height: 83px;
    background: url(../img/products/scrollDown_arrow.png) 0 0px;
}
.seconds {
    width: 213px;
    height: 213px;
    background: url(../img/products/features/speed/1.png) 0 0;
    position: absolute;
    top: 80px;
    left: 600px;
    opacity: 0;
}
.seconds p {
    color: black;
    margin: 224px 0 0 18px;
    text-align: center;
    font: bold 22px Arial, sans-serif;
    line-height: 33px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
    width:210px;
}
.seconds p span{
    font-style: italic;
    font-size: 25px;
    font-family: Verdana;
}
.m150-headline {
    position: absolute;
    top: 440px;
    left: 150px;
    text-align: center;
    color: white;
    width: 800px;
    /*border: 1px solid red;*/
}

.m150-headline h4 {
    margin: 0 0;
}

.m150-headline h5 {
    margin: 0 0; 
    font-family: 'Univers-CondensedLight', sans-serif;
    font-size: 20px;
    font-weight: normal;
}

.mesurement {
    width: 300px;
    height: 1000px;
    background: url(../img/products/m150/features/m150_features_laser1.jpg) 0 0 no-repeat;
    position: absolute;
    top: 0px;
    left: 1200px;
    border: dotted 1px green;
    /*opacity: 0;*/
}

.laser01 {
    width: 300px;
    height: 1000px;
    background: url(../img/products/m150/features/m150_features_laser1.jpg) 0 0;
    position: absolute;
    top: -1px;
    left: 1304px;
    -webkit-box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
    /*border: dotted 1px blue;
    */
    /*opacity: 0;
    */
}

.laser02 {
    width: 300px;
    height: 1000px;
    background: url(../img/products/m150/features/m150_features_laser2.jpg) 0 0;
    position: absolute;
    top: -1px;
    left: 1904px;
    -webkit-box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.5);

}

.laser-wrap {
    background-color:#3a3a3a;
    height: 100%;
    width: 100%;
    margin-left: 300px;
}

.contentWindow {
    width: 260px;
    height: 300px;
    position: absolute;
    top: 300px;
    padding: 10px 20px;
    margin: 0 auto;
}

.contentWindow h2 {
    font-size: 18px;
    font-family:arial;
    width:260px;
    text-align:center;
    color:#fff;
}

.contentWindow hr {

}

.contentWindow p {
    color: white;
    font-size: 18px;    
    text-align: center;
    font-family: 'Univers-CondensedLight';
}

.autofocus {
    width: 300px;
    height: 1000px;
    background: url(../img/products/m150/features/xyz/autofocus.jpg) 0 0;
    position: absolute;
    top: -1px;
    left: 1304px;
}
.autofocus img {
    position: absolute;
    top: 480px;
    left: 150px;

}
.autofocus-wrap {
    background-color:#3A3A3A;
    height: 100%;
    width: 100%;
    margin-left: 300px;
}
.autofocus-text {

}

.CCD {
    width: 1600px;
    height: 1400px;
    background: url(../img/products/m150/features/ccd/2CCDs_bg.jpg) 0 0 no-repeat;
}

.CCD-headline {
    position: absolute;
    font-family: 'BaskervilleURW-RegIta';
    width: 100%;
    height: 50px;
    top: 0px;
    color: white;    
    font-size: 28px;
    text-align: center;
    margin: 0 0;
    padding: 0 0;
    
}
.CCD-light {
    width: 222px;
    height: 105px;
    background: url(../img/products/m150/features/ccd/light.png) 0 0 no-repeat;
    position: absolute;
    top: 398px;
    left: 482px;
    opacity: 0;
}

.ccd01 {
    width: 300px;
    height: 1000px;
    background: url(../img/products/m150/features/xyz/autofocus.jpg) 0 0;
    position: absolute;
    top: -1px;
    left: 1304px;
}
.ccd01 img {
    position: absolute;
    top: 480px;
    left: 150px;

}
.ccd01-wrap {
    background-color:#3a3a3a;
    height: 100%;
    width: 100%;
    margin-left: 300px;
}

#CCD1 {
    width: 300px;
    height: 1000px;
    background: url(../img/products/m150/features/ccd/ccd1.jpg) center center no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    /*opacity: 1;   */
}
#CCD1-text {
    margin-left:300px;
    background-color:red; 
    width:300px;
    height:1000px;
}

#CCD2 {
    width: 300px;
    height: 1000px;
    background: url(../img/products/m150/features/ccd/ccd2.jpg) center center no-repeat;
    position: absolute;
    top: 0px;
    left: 800px;
    /*opacity: 1;   */
}
#CCD2-text {
    margin-left:300px;
    background-color:red; 
    width:300px;
    height:1000px;
}

.CCD-wrap {
    position: relative;
    top: 300px;
}

#realtime {
    width: 1600px;
    height: 1639px;
    background: url(../img/products/m150/features/realtime/realtime_bg.jpg) 0 0 no-repeat;
    position: absolute;
}

#realtime-arraw {
    width: 731px;
    height: 288px;
    background: url(../img/products/m150/features/realtime/Zarrow.png) center center no-repeat;
    position: absolute;
    top: 680px;
    left: 440px;
}
#realtime-text {

}
#realtime-content {

}
