/* 若不可以取消 main.css 中的 #warp, #main 是可以複寫在這 */
body.product #wrap { }

.product-wrap { }

body.product {
    width: 100%;
    height: 100%;
    background: url(../img/products/pattern.png) repeat fixed;
    /*overflow: hidden;*/
}
#main{
    padding-bottom:0;
}
#main nav{
    position:relative;
}
.submenu {
    position: relative;
    background-color: black;
    z-index: 9999;
    width: 100%;
}

.submenu ul {
    width: 980px;
    height: 45px;
    margin: 0 auto;
    padding: 0 0;
}

.submenu li {
    list-style: none;
    float: left;
    margin:12px 15px;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:#fff;

}

.submenu li a {
    width: 100px;
    height: 100px;
    color:#fff;

}
.submenu li.deviceTitle{
    font-weight: bold;
    font-size:22px;
    margin-top:8px
}
.submenu li.quote{
    border-left:1px solid #ccc;
    float:right;
    color:#fff;
    padding-left:20px;
}
.submenu a:hover {
    color: red;
}

/* Defined Section */
.overview {
    width:  1600px;
    height: 1400px;
    background-color:#000;
}
.overview-bg {
    width:  1600px;
    height: 1400px;
    background: url(../img/products/m150/overview/m150_overview_1.jpg) center center #000;
    position: absolute;
    top: -440px;
    left: -300px;
}
.features {
    width:  1600px;
    height: 1400px;
}

.features-bg {
    width:  1600px;
    height: 1400px;
    background: url(../img/products/m150/features/m150_features_laser.jpg) center center #000;
    position: absolute;
    top: -410px;
    left: -300px;
}

.features h2 {
    color: white;
    margin: 0 auto;
    text-align:center;
    width:500px;
    font-family:'BaskervilleURW-RegIta';
    font-weight: normal;
    font-size: 25px;

}
.features h2.lasorTab{
    position:absolute;
    left:260px;
}
.xyz {
    width:  1600px;
    height: 1400px;
    min-height: 1400px;
    background-color: black;
}

.m150-xyz {
    width:  640px;
    height: 660px;
    background: url(../img/products/m150/features/xyz/xyzM150.png) center center;
    position: absolute;
    top: -100px;
    left: 180px;
}

.xyz-content {
    color: white;
    position: absolute;
    top: 440px;
    left: 0px;
    width: 100%;
    height: 100px;
    /*border: dotted 1px red;*/
    text-align: center;
    opacity: 0;
}

.xyz-content p {
    color: white;
    font-size: 26px;
    margin: 0 0;
    padding: 0 0;
    font-family: 'BaskervilleURW-RegIta';
}

.xzy-arraw {
    width:  894px;
    height: 299px;
    background: url(../img/products/m150/features/xyz/arrows.png) center center;
    position: absolute;
    top: 140px;
    left: 54px;   
}

.camera {
    width: 732px;
    height: 731px;
    background: url(../img/products/m150/features/xyz/camera.png) center center;    
    position: absolute;
    top: -200px;
    left: -780px;
    opacity: 0;
    z-index: -1000;
}

.media {
    width:  1600px;
    height: 1400px;
    background: url(../img/products/media/media-bg.jpg) no-repeat center center;
}

.application-papers {
    width:  1600px;
    height: 1400px;
    background: url(../img/products/application-papers/applicationPapers-bg.jpg) repeat 0 0;
}

.technical-specifications {
    width:  1600px;
    height: 1400px;
    background: url(../img/products/technical/technical-bg.jpg) repeat center center;
}

/* Wrap 的 top 透過 jQuery 去動態設定了 */
.content-wrap {
    margin: 0 auto;
    position: relative;
    width: 1000px;
    height: 520px;
}
.content-wrap-580 {
    margin: 0 auto;
    position: relative;
    width: 1000px;
    height: 580px;  
}

.m150 {
    width: 485px;
    height: 484px;
    background: url(../img/products/m150.png) 0 0 no-repeat;
    position: absolute;
    top: 10px;
    left: 20px;    
    text-indent: -9999px;
}
.m150-title {
    top: 80px;
    left: 600px;
    position: absolute;
}
.m150-title h1 {
    font-size: 80px;
    margin: 0 0;
    padding: 0 0;
}
.m150-title p {
    margin: 0 0;
    padding: 0 0;
    text-align: center;
    font-size: 20px;
    font-style: italic;
}
.scrolldown {
    width: 83px;
    height: 83px;
    background: url(../img/products/scrollDown_bg.png) center center no-repeat;
    position: absolute;
    top: 180px;
    left: 60px;
}
.scrolldown_arrow {
    text-indent: -9999px;
    width: 83px;
    height: 83px;
    background-image: url(../img/products/scrollDown_arrow_1.png);
    background-position: center center;
}
.seconds {
    width: 213px;
    height: 213px;
    background: url(../img/products/features/speed/1.png) 0 0;
    position: absolute;
    top: 80px;
    left: 600px;
    opacity: 0;
}
.seconds p {
    color: black;
    margin: 224px 0 0 18px;
    text-align: center;
    font: bold 22px Arial, sans-serif;
    line-height: 33px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
    width:210px;
}
.seconds p span{
    font-style: italic;
    font-size: 25px;
    font-family: Verdana;
}
.m150-headline {
    position: absolute;
    top: 430px;
    text-align: center;
    color: white;
    width: 100%;
    /*border: 1px solid red;*/
}

.m150-headline h4 {
    margin: 0 0 5px;
    font-size: 18px;
}

.m150-headline h5 {
    margin: 0 0; 
    font-family: 'Univers-CondensedLight', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.mesurement {
    width: 300px;
    height: 1000px;
    background: url(../img/products/m150/features/m150_features_laser1.jpg) 0 0 no-repeat;
    position: absolute;
    top: 0px;
    left: 1200px;
    border: dotted 1px green;
    /*opacity: 0;*/
}
.scrollWindow{
    -webkit-box-shadow: -5px 0 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: -5px 0 10px 0px rgba(0, 0, 0, 0.5);
    width: 390px;
    height: 1000px;
}
.textWindow{
     -webkit-box-shadow: 5px 0 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 0 10px 0px rgba(0, 0, 0, 0.5);
    width: 225px;
    margin-left: 390px; 
}
.laser01 {
    /*width: 300px;*/
    /*height: 1000px;*/
    background: url(../img/products/m150/features/m150_features_laser1.jpg) 0 0;
    position: absolute;
    top: -1px;
    left: 1304px;
    /*-webkit-box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.5);*/
    
}

.laser02 {
    /*width: 300px;*/
    /*height: 1000px;*/
    background: url(../img/products/m150/features/m150_features_laser2.jpg) 0 0;
    position: absolute;
    top: -1px;
    left: 1904px;
    /*-webkit-box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.5);*/
    
}

.laser-wrap {
    background-color:#3a3a3a;
    height: 100%;
    /*width: 100%;*/
    
}

.contentWindow {
    width: 185px;
    height: 300px;
    position: absolute;
    top: 300px;
    padding: 10px 20px;
    margin: 0 auto;
}

.contentWindow h2 {
    font-size: 18px;
    font-family:arial;
    width:185px;
    text-align:center;
    color:#fff;
}

.contentWindow hr {

}

.contentWindow p {
    color: white;
    font-size: 18px;    
    text-align: center;
    font-family: 'Univers-CondensedLight';
}

.autofocus {
    /*width: 300px;*/
    /*height: 1000px;*/
    background: url(../img/products/m150/features/xyz/autofocus.jpg) 0 0;
    position: absolute;
    top: -1px;
    left: 1304px;
}
.autofocus img {
    position: absolute;
    top: 480px;
    left: 150px;

}
.autofocus-wrap {
    background-color:#3A3A3A;
    height: 100%;
    /*width: 100%;*/
    /*margin-left: 300px;*/
}
.autofocus-text {

}

.CCD {
    width: 1600px;
    height: 1400px;
    /*background: url(../img/products/m150/features/ccd/2CCDs_bg.jpg) 0 0 no-repeat;*/
}

.ccd-bg {
    width: 1600px;
    height: 1400px;
    background: url(../img/products/m150/features/ccd/2CCDs_bg.jpg) center center;
    position: absolute;
    top: -440px;
    left: -300px;
}

.CCD-headline {
    position: absolute;
    font-family: 'BaskervilleURW-RegIta';
    width: 100%;
    height: 50px;
    top: 0px;
    color: white;    
    font-size: 28px;
    text-align: center;
    margin: 0 0;
    padding: 0 0;
}
.CCD-light {
    width: 222px;
    height: 105px;
    background: url(../img/products/m150/features/ccd/light.png) 0 0 no-repeat;
    position: absolute;
    top: 186px;
    left: 482px;
    opacity: 0;
}

.ccd01 {
    /*width: 300px;*/
    /*height: 1000px;*/
    background: url(../img/products/m150/features/xyz/autofocus.jpg) 0 0;
    position: absolute;
    top: 0px;
    left: 1304px;
}
.ccd01 img {
    position: absolute;
    top: 480px;
    left: 150px;

}
.ccd01-wrap {
    background-color:#3a3a3a;
    height: 100%;
    /*width: 100%;*/
    /*margin-left: 300px;*/
}

.ccd02 {
    /*width: 300px;*/
    /*height: 1000px;*/
    background: url(../img/products/m150/features/xyz/autofocus.jpg) 0 0;
    position: absolute;
    top: 0px;
    left: 1304px;
}
.ccd02 img {
    position: absolute;
    top: 480px;
    left: 150px;

}
.ccd02-wrap {
    background-color: #3a3a3a;
    height: 100%;
    /*width: 100%;*/
    /*margin-left: 300px;*/
}

.laptop {
    width: 746px;
    height: 549px;
    background: url(../img/products/m150/features/realtime/laptop.png) 0 0;
    position: absolute;
    top: 30px;
    left: 800px;
    opacity: 0;
}

.m150-rt {
    width: 598px;
    height: 517px;
    background: url(../img/products/m150/features/realtime/m150.png) 0 0;
    position: absolute;
    top: 30px;
    left: -400px;
    opacity: 0;
}

.zarraw {
    width: 731px;
    height: 288px;
    background: url(../img/products/m150/features/realtime/Zarrow.png) 0 0;
    position: absolute;
    top: 164px;
    left: 140px;
    opacity: 0;
}

.CCD-wrap {
    position: relative;
    top: 300px;
}

.realtime {
    width: 1600px;
    height: 1639px;
    background: url(../img/products/m150/features/realtime/realtime_bg.jpg) 0 0 no-repeat;
    position: absolute;
}

.realtime-headline {
    top: 200px;
    left: 810px;
    position: absolute;
    font-size: 45px;
    width: 400px;
    font-family: 'BaskervilleURW-RegIta', serif;
}

.realtime-text {
    top: 285px;
    left: 10px;
    position: absolute;
    font-size: 20px;
    text-align: center;
    font-family: 'Univers-CondensedLight', sans-serif;
}
.applications {
    width:  1600px;
    height: 1400px;
    background: url(../img/products/m150/features/applications-bg.jpg) no-repeat 0 0;
    
}
.application-text{
   width: 460px; 
   float: right;
   margin-top: 210px;
   margin-right: 133px;
}
.application-text>p{
    color: #000;
    font-family: 'BaskervilleURW-RegIta', serif;
    font-size: 30px;
    text-align:center;
}
.components{
    /*height: 1000px;*/
    background: url(../img/products/m150/features/xyz/autofocus.jpg) 0 0;
    position: absolute;
    top: -1px;
    left: 1304px;
}
.components-wrap{
    height: 100%;
    background-color:#3A3A3A;
}
.media-content h2{
    font-size: 30px;
    font-family: 'BaskervilleURW-RegIta', serif;
    color: #fff;
    text-align: center;
    font-weight: normal;
}
.media-content .galleryBox{
    /*background: rgba(25, 25, 25, 0.5);*/
    background-image: -webkit-gradient(
          linear, left top, left bottom, from(rgba(50, 50, 50, 0.5)),
          to(rgba(0, 0, 0, 0.75))
        );
    background-image: -moz-linear-gradient(rgba(50,50,50,0.5) 0%, rgba(0,0,0,0.75) 98%);
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr=#323232, endColorstr=#000000);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr=#323232, endColorstr=#000000);

    width: 654px;
    padding: 0 38px 0px 38px;
    margin: 0 auto;
    position: relative;
    height:365px;
    border: solid 1px #888;
}
.media-content .galleryBox p{
    font-size:12px;
    font-family: arial;
    text-align: center;
    color: #fff;
}
.media-content .galleryBox ul li{
    float: left;
    list-style: none;
}
.media-content .galleryBox ul#itemContainer-media li{
    border: solid 1px #000;
    width: 204px;
    height: 130px;
    margin-right: 18px;
    margin-bottom: 20px;
}
.media-content .galleryBox ul#itemContainer-media li:nth-child(3n), .media-content .galleryBox ul#itemContainer-ap li:nth-child(3n){
    margin-right:0;
}
.media-content .galleryBox a.fancyBox:hover{
    border-color: #fff;
}
.media-content .galleryBox a.jp-previous, .media-content .galleryBox a.jp-next{
    display: block;
    width: 52px;
    height: 52px;
    position: absolute;
    text-indent: -999em;
    cursor:pointer;
}
.media-content .galleryBox a.jp-previous{
    left:-63px;
    top:160px;
    background: url(../img/products/media/back.png) no-repeat center;
}
.media-content .galleryBox a.jp-previous:hover{
    background: url(../img/products/media/back-hover.png) no-repeat center;
}
.application-papers .media-content .galleryBox a.jp-previous, .application-papers .media-content .galleryBox a.jp-next{
    top: 172px;
}
.media-content .galleryBox a.jp-next{
    right:-63px;
    top:160px;
    background: url(../img/products/media/next.png) no-repeat center;
}
.media-content .galleryBox a.jp-next:hover{
    background: url(../img/products/media/next-hover.png) no-repeat center;
}
.media-content .galleryBox a.jp-disabled{
    opacity:0.3;
    cursor:default;
}
.media-content .galleryBox .legend{
    text-align: center;
    color: #fff;
    font-size: 11px;
    position:absolute;
    top:335px;
    left:350px;
}
.application-papers .media-content .galleryBox .legend{
    top: 373px;
    left: 315px;
}
.application-papers .media-content .galleryBox{
    width: 590px;
    padding: 30px 28px;
}
.media-content .galleryBox ul#itemContainer-ap li{
    width: 167px;
    height: 62px;
    margin-right: 40px;
    margin-bottom: 0px;
    border: solid 1px transparent;
}
.media-content .galleryBox ul#itemContainer-ap li:hover{
    /*background: rgba(150,150,150,0.5);*/
    border: solid 1px #888;
    box-shadow: 0 0 5px #000;
    /* webkit example */
    background-image: -webkit-gradient(
      linear, left top, left bottom, from(rgba(120, 120, 120, 0.5)),
      to(rgba(0, 0, 0, 0.8))
    );
    /* mozilla example - FF3.6+ */
    background-image: -moz-linear-gradient(
      right center,
      rgba(120, 120, 120, 0.5) 0%, rgba(0, 0, 0, 0.8) 99%
    );
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(
      gradientType=1, startColor=#787878, endColorStr=#000000
    );
    /* IE8 uses -ms-filter for whatever reason... */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(
      gradientType=1, startColor=#787878, endColoStr=#000000
    );
}
.media-content .galleryBox ul#itemContainer-ap li a{
    display: block;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 55px;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 -2px #000;
    background: url(../img/products/application-papers/pdfIcon.png) no-repeat 20px 16px;
}
.technical-content h2{
    font-family: 'BaskervilleURW-RegIta', serif;
    font-size: 30px;
    color: #fff;
    float: left;
    margin-left: 110px;
    font-weight: normal;
}
.technical-content div{
    float: right;
    width: 390px;
}
.technical-content div p{
    color: #fff;
    font-family: 'Univers-CondensedLight', sans-serif;
    font-size: 18px;
    margin: 2px 0;
}
