/* line 3, ../sass/signin.scss */
body {
  background-color: #efefef;
}

/* line 9, ../sass/signin.scss */
#container {
  margin: 40px 0 0 0;
  min-width: 980px;
  min-height: 600px;
}
/* line 15, ../sass/signin.scss */
#container .signin-box {
  margin: 0 auto;
  width: 320px;
  height: 490px;
  border-radius: 6px 6px 6px 6px;
}
/* line 23, ../sass/signin.scss */
#container .logo {
  width: 100%;
  text-align: center;
}
/* line 28, ../sass/signin.scss */
#container .logo img {
  margin: 10px;
}
/* line 33, ../sass/signin.scss */
#container .box {
  width: 100%;
  height: 82%;
}
/* line 37, ../sass/signin.scss */
#container .box p {
  margin: 20px 10px;
  padding: 20px 10px;
}
/* line 40, ../sass/signin.scss */
#container .box p label {
  font-size: 18px;
}
/* line 43, ../sass/signin.scss */
#container .box p input {
  margin-top: 10px;
  margin-bottom: 14px;
  font-size: 14pt;
  width: 100%;
}

/* line 53, ../sass/signin.scss */
.error {
  text-align: center;
  font-size: 18px;
  color: #fd519e;
  margin: 4px 4px;
  padding: 4px;
}
