

$base-font-family: unquote('sans-serif');

$base-font-size: 13px;

$base-line-height: 1.232;

$base-background-color: #EFEFEF;

$font-color: #444;

$link-color: #607890;

$link-hover-color: #036;

$link-active-color: #607890;

$link-visited-color: #607890;

$selected-font-color: #fff;

$selected-background-color: #ff5E99;

$list-left-margin: 2em;

