# backend

application/backend/config/config.php
application/backend/config/database.php

application/backend/logs/log-*.php
application/backend/logs/!index.html
application/backend/cache/*
application/backend/cache/!index.html

# frontend

application/frontend/config/config.php
application/frontend/config/database.php

application/frontend/logs/log-*.php
application/frontend/logs/!index.html
application/frontend/cache/*
application/frontend/cache/!index.html

